main {
    position: relative;
    display: block;
}

main a {
     outline: none
}

.pandas-dataframe {
    background-color: #eee;
    font-family: Courier, Monaco, monospace;
    font-size: 1.5em;
    white-space: nowrap;
    scroll-direction: horizontal;
    overflow: scroll;
    padding: 15px 15px 15px 15px;
}

.pandas-dataframe th, .pandas-dataframe td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

pre code {
    overflow: hidden;
    background-color: #eee;
    border: 1px solid #999;
    font-size: 15px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 7%;
    overflow: scroll;
}

.common-body-text, #introduction li {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    width: 80%;
    text-align: left;
    font-size: 2em;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 62.5%;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "pnum";
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
}

.common-UppercaseTitle {
    margin-bottom: 50px;
    color: mediumorchid;
    font-size: 3em;
}

.topic-section {
    position: relative;
    padding-top: 30px;
}

#hyperparameter-stats table, #hyperparameter-stats th, #hyperparameter-stats td {
    table-layout: fixed;
    padding: 5px 100px 5px 5px;
    text-align: left;
    font-size: 1.8em;
}

.topic-section a {
    position: relative;
    padding-top: 30px;
}

.topic-section a {
    color: #be29ec;
    transition: color 0.5s;
}

.topic-section a:hover {
    color: black;
}

.topic-section ul, .topic-section ol {
    margin-left: 12vw;
    margin-right: 10%;
    margin-bottom: 40px;
    width: 80%;
    text-align: left;
    font-size: 2em;
}

.topic-section h3 {
    margin-left: 5%;
    color: blueviolet;
    font-size: 3em;
}

.topic-section h4 {
    margin-left: 5%;
    color: #800080;
    font-size: 2em;
}

.topic-section blockquote {
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 40px;
    width: 80%;
    font-style: italic;
    text-align: left;
    font-size: 2.1em;
}

.topic-section li {
    margin-bottom: 20px;
}

.topic-section ul {
    list-style-type: square;
}

#desired-interface-table {
    padding: 5px 5px 5px 5px;
    text-align: left;
    font-size: 0.5em;
}

#desired-interface-table table {
    padding-left: 15%;
    table-layout: fixed;
    width: 90%;
    text-align: left;
}

#preprocessing-interface-table {
    padding: 5px 5px 5px 5px;
    text-align: left;
    font-size: 0.5em;
}

#preprocessing-interface-table table {
    padding-left: 10%;
    table-layout: fixed;
    width: 90%;
    text-align: left;
}

#contraction-table {
    padding: 5px 5px 5px 5px;
    text-align: left;
    font-size: 0.5em;
}

#contraction-table table {
    padding-left: 10%;
    table-layout: fixed;
    width: 80%;
    text-align: left;
}

#stripes,
#stripes span {
    position: absolute
}

#stripes {
    width: 100%;
    height: 100%;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(130deg, darkviolet 10%, purple 70%, #df00fe 85%)
}

#stripes span {
    height: 40px
}

#stripes :first-child {
    width: 50%;
    left: 50%;
    top: 40px;
    background: #4c29ff
}

#stripes :nth-child(2) {
    width: 14%;
    right: 0;
    bottom: 40px;
    background: #2be7ff
}

#stripes :nth-child(3) {
    width: 25%;
    bottom: 0;
    right: 0;
    background: #a1ffc8
}

@media (min-width:670px) {
    #stripes span {
        height: 150px
    }
    #stripes :first-child {
        top: 0;
        background: #4750ff
    }
    #stripes :nth-child(2) {
        width: 16.66667%;
        width: calc(100% / 6);
        top: 300px;
        top: calc(150px * 2);
        bottom: auto;
        background: #0dcfff
    }
    #stripes :nth-child(3) {
        width: 33.33333%;
        width: calc(100% / 3);
        right: auto;
        background: #11bdff
    }
}

@media (min-width:880px) {
    #stripes span {
        height: 190px
    }
    #stripes :first-child {
        width: 33.33333%;
        width: calc(100% / 3);
        left: -16.66666%;
        left: calc(calc(calc(100% / 3) / 2) * -1);
        background: #53f
    }
    #stripes :nth-child(2) {
        width: 33.33333%;
        width: calc(100% / 3);
        top: 0;
        left: 16.66666%;
        left: calc(calc(100% / 3) / 2);
        right: auto;
        background: #4553ff
    }
    #stripes :nth-child(3) {
        width: 33.33333%;
        width: calc(100% / 3);
        left: 49.99999%;
        left: calc(calc(calc(100% / 3) / 2) + calc(100% / 3));
        bottom: auto;
        background: #4f40ff
    }
    #stripes :nth-child(4) {
        width: 33.33333%;
        width: calc(100% / 3);
        top: 380px;
        top: calc(190px * 2);
        right: -16.66666%;
        right: calc(calc(calc(100% / 3) / 2) * -1);
        background: #25ddf5
    }
    #stripes :nth-child(5) {
        width: 33.33333%;
        width: calc(100% / 3);
        bottom: 0;
        background: #1fa2ff
    }
}

#introduction {
    background: linear-gradient(130deg, #a32c5c 0%, purple 40%, purple 60%, #a32c5c 100%);
    padding-bottom: 5vh;
    height: 100%;
}

#introduction ul {
    list-style: none;
}

#introduction li {
    padding-left: 3vw;
    float: left;
}

#introduction li a{
    text-decoration: none;
    font-size: 1.1em;
}

#introduction p, #introduction li {
    color: #f9e6ff;
}

#introduction a {
    color: white;
    -webkit-transition: color 0.5;
    transition: color 0.5s
}

#introduction a:hover {
    color: yellow;
}

#top-page-splitting-table td {
      width: 50%;
}

#top-level-stats table, #top-level-stats th, #top-level-stats td {
    width: 70%;
    text-align: left;
    font-size: 1.4em;
    color: #f9e6ff;
}

h1 {
    font-weight: bold
    text-align: center;
    color: #f9e6ff;
    font-size: 40px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.section-icon {
    padding-bottom: 30px;
    display: block;
    width: 66px;
    height: 66px;
    margin-bottom: 30px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 0 25px;
}

.globalFooterCards .container-xl {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -15px auto;
	padding: 30px 5px;
	padding-bottom: 30px;
}

a.globalFooterCard,
div.globalFooterCard {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	margin: 15px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	padding: 40px 40px 40px 40px;
	background-color: #fff;
	border-radius: 8px;
	-webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
	box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
	-webkit-transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
	transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
	transition-property: color, background-color, box-shadow, transform;
	transition-property: color, background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
	-webkit-transition-duration: .15s;
	transition-duration: .15s
}

a.globalFooterCard:after,
div.globalFooterCard:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #aab7c4;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity .15s;
	transition: opacity .15s
}

@media (min-width:670px) {
	a.globalFooterCard,
	div.globalFooterCard {
		-ms-flex-preferred-size: 1%;
		flex-basis: 1%;
		padding-left: 100px
	}
}

@media (min-width:880px) {
	a.globalFooterCard,
	div.globalFooterCard {
		padding-left: 120px
	}
}

a.globalFooterCard:hover,
div.globalFooterCard:hover {
	color: #32325d!important;
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px)
}

a.globalFooterCard:active,
a.globalFooterCard:hover,
div.globalFooterCard:active,
div.globalFooterCard:hover {
	-webkit-box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025);
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025)
}

a.globalFooterCard:active,
div.globalFooterCard:active {
	-webkit-transform: translateY(2px);
	transform: translateY(2px)
}

a.globalFooterCard:active:after,
div.globalFooterCard:active:after {
	opacity: .15
}

a.globalFooterCard img,
a.globalFooterCard svg,
div.globalFooterCard img,
div.globalFooterCard svg {
	position: absolute;
	width: 130px;
	height: 130px;
	left: -35px;
	top: calc(50% - 65px)
}

@media (min-width:670px) {
	a.globalFooterCard img,
	a.globalFooterCard svg,
	div.globalFooterCard img,
	div.globalFooterCard svg {
		left: -50px
	}
}

@media (min-width:880px) {
	a.globalFooterCard img,
	a.globalFooterCard svg,
	div.globalFooterCard img,
	div.globalFooterCard svg {
		left: -35px
	}
}

a.globalFooterCard.card-life-at-stripe svg,
div.globalFooterCard.card-life-at-stripe svg {
	top: calc(50% - 62px)
}

a.globalFooterCard svg .hover-fillDark,
a.globalFooterCard svg .hover-fillLight,
a.globalFooterCard svg .hover-fillMedium,
div.globalFooterCard svg .hover-fillDark,
div.globalFooterCard svg .hover-fillLight,
div.globalFooterCard svg .hover-fillMedium {
	-webkit-transition: fill .15s;
	transition: fill .15s
}

a.globalFooterCard svg .hover-strokeDark,
a.globalFooterCard svg .hover-strokeLight,
div.globalFooterCard svg .hover-strokeDark,
div.globalFooterCard svg .hover-strokeLight {
	-webkit-transition: stroke .15s;
	transition: stroke .15s
}

a.globalFooterCard:hover svg .hover-fillDark,
div.globalFooterCard:hover svg .hover-fillDark {
	fill: #32325d
}

a.globalFooterCard:hover svg .hover-fillMedium,
div.globalFooterCard:hover svg .hover-fillMedium {
	fill: #525f7f
}

a.globalFooterCard:hover svg .hover-fillLight,
div.globalFooterCard:hover svg .hover-fillLight {
	fill: #8898aa
}

a.globalFooterCard:hover svg .hover-strokeDark,
div.globalFooterCard:hover svg .hover-strokeDark {
	stroke: #32325d
}

a.globalFooterCard:hover svg .hover-strokeLight,
div.globalFooterCard:hover svg .hover-strokeLight {
	stroke: #8898aa
}

a.globalFooterCard h2,
div.globalFooterCard h2 {
	margin: 0 0 5px;
	white-space: normal
}

a.globalFooterCard p,
div.globalFooterCard p {
    margin: 5px 0 0
}

a.globalFooterCard.card-pricing,
div.globalFooterCard.card-pricing {
	color: #24b47e
}

a.globalFooterCard.card-documentation,
div.globalFooterCard.card-documentation {
	color: #b76ac4
}

a.globalFooterCard.card-environment,
div.globalFooterCard.card-environment {
	color: #24b47e
}
