
/***********/
/* General */
/***********/

@import url('https://fonts.googleapis.com/css?family=Karla');

body {
    background-color: #fff;
    font-family: 'Karla';
}

#page-top {
    margin-top: 60px;
}

h3 {
    text-align: center;
    margin-bottom: 50px;
}

h4 {
    text-align: center;
    margin-top: 50px;
}

p {
    padding: 0px 50px 0px 50px;
}

a {
    transition: all 0.25s;
}

a:hover {
    color: darkred;
}

.code-block {
    font-size: 0.75rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    padding: 30px;
    margin: 30px 15vw 30px 15vw;
    background: #dbdbdb;
    border: 0.1em solid #788082;
}

/******************/
/* Navigation Bar */
/******************/

#navigator {
    background: linear-gradient(130deg, #2c485e 0%, #182A39 25%,  #1a3347 50%, #182A39 75%,  #2c485e 100%);
    box-shadow: 2px 2px 5px #182A39
}

#navbarSupportedContent {
    justify-content: center;
}

#navbarSupportedContent li {
    padding: 0px 25px 0px 25px;
}

nav #navbarSupportedContent a.nav-link.js-scroll-trigger {
    transition: all 0.25s;
    color: #ddd;
}

nav #navbarSupportedContent a.nav-link.js-scroll-trigger:hover {
    color: #fff;
}

/***********************************/
/* Architecture Performance Charts */
/***********************************/

#architecture-performance th, #architecture-performance td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 10px;
}

#architecture-performance table {
    margin: 40px 30vw 40px 30vw;
}

/***********************/
/* Contact Information */
/***********************/

#contact {
    background: linear-gradient(130deg, #2c485e 0%, #182A39 25%,  #1a3347 50%, #182A39 75%,  #2c485e 100%);
    padding: 10px 10px 10px 10px;
}

#contact ul {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

#contact ul a {
    color: #ddd;
    text-decoration: none;
}

#contact ul li:hover {
    color: #fff;
}

#contact ul li {
    transition: all 0.25s;
    margin: 5px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
}

/***************************/
/* Architecture Depictions */
/***************************/

#architecture-summary div.svg-container {
    text-align: center;
    padding: 10px;
}

#architecture-summary svg {
    background: rgba(219, 219, 219, 0.5);
    border: 1.5px solid #788082;
    border-radius: 4px;
}

#arrowhead {
}

.arrow-line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
    stroke-opacity: 1.0;
}

.text-with-bbox-group {
}

.text-with-bbox-group-text {
    fill: black;
}

.text-with-bbox-group-bounding-box {
    rx: 10;
    stroke-width: 1.5;
    stroke: #000;
    fill: #fff;
}

/* RNN Architecture Depiction */

.word-group .text-with-bbox-group-bounding-box {
    rx: 0;
    stroke-width: 1px;
}

.word-group .text-with-bbox-group-text {
    fill: #555;
    font-style: italic;
}

.embedding-group .text-with-bbox-group-bounding-box {
    fill: #fff8c4;
}

.lstm-group .text-with-bbox-group-bounding-box {
    fill: #c4dbff;
}

.attention-group .text-with-bbox-group-bounding-box {
    fill: #c4ffd0;
}

.attention-softmax-group .text-with-bbox-group-bounding-box {
    fill: #ffc4c4;
}

.attention-sum-group .text-with-bbox-group-bounding-box {
    fill: #e4c4ff;
}

.fully-connected-group .text-with-bbox-group-bounding-box,
.prediction-group .text-with-bbox-group-bounding-box {
    fill: #c4fdff;
}

.sigmoid-group .text-with-bbox-group-bounding-box {
    fill: #ffdec4;
}

.output-group .text-with-bbox-group-bounding-box {
    rx: 0;
    stroke-width: 1px;
    fill: #fff;
}

.output-group .text-with-bbox-group-text {
    fill: #555;
}

/* CNN Architecture Depiction */

.pooling-group .text-with-bbox-group-bounding-box {
    fill: #d8c4ff;
}

.concatenation-group .text-with-bbox-group-bounding-box {
    fill: #ffc4c4;
}


/* CNN Architecture Depiction */

.dense-group .text-with-bbox-group-bounding-box {
    fill: #c4ffd0;
}
